<h2 class="text-left">To-Do List</h2>
<table class="table table-condensed">
   <tr>
      <th class="text-center"></th>
      <th class="text-left">Date</th>
      <th class="text-left">Description</th>
      <th class="text-left">Category</th>
      <th class="text-center"></th>
      <th class="text-center"></th>
   </tr>
   <tr ng-repeat="todo in todoList">
      <td class="text-center">
         <input type="checkbox"/>
      </td>
      <td class="text-center"></td>
      <td class="text-left">{{todo.name}}</td>
      <td class="text-left">{{todo.category.name}}</td>
      <td class="text-center">
         <button class=" btn btn-info bt-lg ">
            <span class="glyphicon glyphicon-pencil"></span>
         </button>
      </td>
      <td class="text-center">
         <button class="btn btn-danger bt-lg ">
            <span class="glyphicon glyphicon-trash"></span>
         </button>
      </td>
   </tr>
</table>
<div class="text-left">
   <button class="btn btn-primary bt-lg" ng-click="new()">
      <span class="glyphicon glyphicon-plus"></span> New
   </button>
</div>
