<h2 class="text-left">To-Do List</h2>

<success-msg ng-show="isSave" message="To-do saved successfully!">
</success-msg>

<success-msg ng-show="isUpdate" message="To-do updated successfully!">
</success-msg>

<success-msg ng-show="isDelete" message="To-do deleted successfully!">
</success-msg>


<table class="table">
   <tr>
      <th class="text-center"></th>
      <th class="text-left">Created</th>
      <th class="text-left">Name</th>
      <th class="text-left">Category</th>
      <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center"></th>
   </tr>
   <tr ng-class="{success: todo.check, bold: todo.check}" ng-repeat="todo in todoList">
      <td class="text-center" style="vertical-align:middle" width="5%">
         <input type="checkbox" ng-model="todo.check"/>
      </td>
      <td class="text-left" style="vertical-align:middle" width="15%">{{todo.dateCreate | date: 'dd/MM/yyyy'}}</td>
      <td class="text-left" style="vertical-align:middle">{{todo.name}}</td>
      <td class="text-left" style="vertical-align:middle" width="15%">{{todo.category.name}}</td>
      <td class="text-center" style="vertical-align:middle" width="5%">
         <button class=" btn btn-default bt-sm" ng-click="view(todo)">
            <span class="glyphicon glyphicon-eye-open"></span>
         </button>
      </td>
      <td class="text-center" style="vertical-align:middle" width="5%">
         <button class=" btn btn-info bt-sm" ng-click="edit(todo)" ng-disabled="todo.check">
            <span class="glyphicon glyphicon-pencil"></span>
         </button>
      </td>
      <td class="text-center" style="vertical-align:middle" width="5%">
         <button class="btn btn-danger bt-sm" ng-click="delete(todo)" ng-disabled="todo.check">
            <span class="glyphicon glyphicon-trash"></span>
         </button>
      </td>
   </tr>
</table>
<div class="text-left">
   <button class="btn btn-primary bt-lg" ng-click="new()">
      <span class="glyphicon glyphicon-plus"></span> New
   </button>
</div>
